@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
/* CSS HEX */
--pomp-and-power: #8b6f9bff;
--african-violet: #9e86acff;
--mountbatten-pink: #807799ff;
--ultra-violet: #626785ff;
--moonstone: #6a99a3ff;
--taupe-gray: #9f9691ff;
--silver: #a8a09bff;
--silver-2: #b0a9a4ff;

/* CSS HSL */
--pomp-and-power: hsla(278, 18%, 52%, 1);
--african-violet: hsla(278, 19%, 60%, 1);
--mountbatten-pink: hsla(256, 14%, 53%, 1);
--ultra-violet: hsla(231, 15%, 45%, 1);
--moonstone: hsla(191, 24%, 53%, 1);
--taupe-gray: hsla(21, 7%, 60%, 1);
--silver: hsla(23, 7%, 63%, 1);
--silver-2: hsla(25, 7%, 67%, 1);

/* SCSS HEX 
$pomp-and-power: #8b6f9bff;
$african-violet: #9e86acff;
$mountbatten-pink: #807799ff;
$ultra-violet: #626785ff;
$moonstone: #6a99a3ff;
$taupe-gray: #9f9691ff;
$silver: #a8a09bff;
$silver-2: #b0a9a4ff;*/

/* SCSS HSL 
$pomp-and-power: hsla(278, 18%, 52%, 1);
$african-violet: hsla(278, 19%, 60%, 1);
$mountbatten-pink: hsla(256, 14%, 53%, 1);
$ultra-violet: hsla(231, 15%, 45%, 1);
$moonstone: hsla(191, 24%, 53%, 1);
$taupe-gray: hsla(21, 7%, 60%, 1);
$silver: hsla(23, 7%, 63%, 1);
$silver-2: hsla(25, 7%, 67%, 1);*/

/* SCSS RGB 
$pomp-and-power: rgba(139, 111, 155, 1);
$african-violet: rgba(158, 134, 172, 1);
$mountbatten-pink: rgba(128, 119, 153, 1);
$ultra-violet: rgba(98, 103, 133, 1);
$moonstone: rgba(106, 153, 163, 1);
$taupe-gray: rgba(159, 150, 145, 1);
$silver: rgba(168, 160, 155, 1);
$silver-2: rgba(176, 169, 164, 1);*/

/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);
$gradient-right: linear-gradient(90deg, #8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);
$gradient-bottom: linear-gradient(180deg, #8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);
$gradient-left: linear-gradient(270deg, #8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);
$gradient-top-right: linear-gradient(45deg, #8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);
$gradient-bottom-right: linear-gradient(135deg, #8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);
$gradient-top-left: linear-gradient(225deg, #8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);
$gradient-bottom-left: linear-gradient(315deg, #8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);
$gradient-radial: radial-gradient(#8b6f9bff, #9e86acff, #807799ff, #626785ff, #6a99a3ff, #9f9691ff, #a8a09bff, #b0a9a4ff);*/
/* CSS HEX */
--lilac: #c591b1ff;
--lilac-2: #cda0bcff;
--lilac-3: #ba91b1ff;
--african-violet: #aa83aaff;
--french-gray: #b0a9afff;
--tea-rose-red: #d0aba4ff;
--pale-dogwood: #d5b5adff;
--pale-dogwood-2: #dabcb5ff;

/* CSS HSL */
--lilac: hsla(323, 31%, 67%, 1);
--lilac-2: hsla(323, 31%, 72%, 1);
--lilac-3: hsla(313, 23%, 65%, 1);
--african-violet: hsla(300, 19%, 59%, 1);
--french-gray: hsla(309, 4%, 68%, 1);
--tea-rose-red: hsla(10, 32%, 73%, 1);
--pale-dogwood: hsla(12, 32%, 76%, 1);
--pale-dogwood-2: hsla(11, 33%, 78%, 1);

/* SCSS HEX 
$lilac: #c591b1ff;
$lilac-2: #cda0bcff;
$lilac-3: #ba91b1ff;
$african-violet: #aa83aaff;
$french-gray: #b0a9afff;
$tea-rose-red: #d0aba4ff;
$pale-dogwood: #d5b5adff;
$pale-dogwood-2: #dabcb5ff;*/

/* SCSS HSL 
$lilac: hsla(323, 31%, 67%, 1);
$lilac-2: hsla(323, 31%, 72%, 1);
$lilac-3: hsla(313, 23%, 65%, 1);
$african-violet: hsla(300, 19%, 59%, 1);
$french-gray: hsla(309, 4%, 68%, 1);
$tea-rose-red: hsla(10, 32%, 73%, 1);
$pale-dogwood: hsla(12, 32%, 76%, 1);
$pale-dogwood-2: hsla(11, 33%, 78%, 1);
*/
/* SCSS RGB 
$lilac: rgba(197, 145, 177, 1);
$lilac-2: rgba(205, 160, 188, 1);
$lilac-3: rgba(186, 145, 177, 1);
$african-violet: rgba(170, 131, 170, 1);
$french-gray: rgba(176, 169, 175, 1);
$tea-rose-red: rgba(208, 171, 164, 1);
$pale-dogwood: rgba(213, 181, 173, 1);
$pale-dogwood-2: rgba(218, 188, 181, 1);*/

/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);
$gradient-right: linear-gradient(90deg, #c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);
$gradient-bottom: linear-gradient(180deg, #c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);
$gradient-left: linear-gradient(270deg, #c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);
$gradient-top-right: linear-gradient(45deg, #c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);
$gradient-bottom-right: linear-gradient(135deg, #c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);
$gradient-top-left: linear-gradient(225deg, #c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);
$gradient-bottom-left: linear-gradient(315deg, #c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);
$gradient-radial: radial-gradient(#c591b1ff, #cda0bcff, #ba91b1ff, #aa83aaff, #b0a9afff, #d0aba4ff, #d5b5adff, #dabcb5ff);*/
/* CSS HEX */
--vista-blue: #8aa6dcff;
--vista-blue-2: #99afe0ff;
--carolina-blue: #83b2daff;
--sky-blue: #6ec6d4ff;
--carolina-blue-2: #8dbedeff;
--lavender-floral: #ba84e2ff;
--wisteria: #c593e6ff;
--wisteria-2: #c69be7ff;

/* CSS HSL */
--vista-blue: hsla(220, 54%, 70%, 1);
--vista-blue-2: hsla(221, 53%, 74%, 1);
--carolina-blue: hsla(208, 54%, 68%, 1);
--sky-blue: hsla(188, 54%, 63%, 1);
--carolina-blue-2: hsla(204, 55%, 71%, 1);
--lavender-floral: hsla(274, 62%, 70%, 1);
--wisteria: hsla(276, 62%, 74%, 1);
--wisteria-2: hsla(274, 61%, 76%, 1);

/* SCSS HEX 
$vista-blue: #8aa6dcff;
$vista-blue-2: #99afe0ff;
$carolina-blue: #83b2daff;
$sky-blue: #6ec6d4ff;
$carolina-blue-2: #8dbedeff;
$lavender-floral: #ba84e2ff;
$wisteria: #c593e6ff;
$wisteria-2: #c69be7ff;
*/
/* SCSS HSL 
$vista-blue: hsla(220, 54%, 70%, 1);
$vista-blue-2: hsla(221, 53%, 74%, 1);
$carolina-blue: hsla(208, 54%, 68%, 1);
$sky-blue: hsla(188, 54%, 63%, 1);
$carolina-blue-2: hsla(204, 55%, 71%, 1);
$lavender-floral: hsla(274, 62%, 70%, 1);
$wisteria: hsla(276, 62%, 74%, 1);
$wisteria-2: hsla(274, 61%, 76%, 1);*/

/* SCSS RGB 
$vista-blue: rgba(138, 166, 220, 1);
$vista-blue-2: rgba(153, 175, 224, 1);
$carolina-blue: rgba(131, 178, 218, 1);
$sky-blue: rgba(110, 198, 212, 1);
$carolina-blue-2: rgba(141, 190, 222, 1);
$lavender-floral: rgba(186, 132, 226, 1);
$wisteria: rgba(197, 147, 230, 1);
$wisteria-2: rgba(198, 155, 231, 1);*/

/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
$gradient-right: linear-gradient(90deg, #8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
$gradient-bottom: linear-gradient(180deg, #8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
$gradient-left: linear-gradient(270deg, #8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
$gradient-top-right: linear-gradient(45deg, #8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
$gradient-bottom-right: linear-gradient(135deg, #8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
$gradient-top-left: linear-gradient(225deg, #8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
$gradient-bottom-left: linear-gradient(315deg, #8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
$gradient-radial: radial-gradient(#8aa6dcff, #99afe0ff, #83b2daff, #6ec6d4ff, #8dbedeff, #ba84e2ff, #c593e6ff, #c69be7ff);
*/
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #e67e22;
  border-radius: 5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: #130f40;
}

.heading span {
  color: #e67e22;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #130f40;
  cursor: pointer;
  background: none;
  color: #130f40;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #130f40;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
          clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.btn:hover {
  color: #fff;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.header.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
}

.header .logo i {
  color: #e67e22;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #666;
}

.header .navbar a:hover {
  color: #e67e22;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #130f40;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #e67e22;
}

.header .login-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
}

.header .login-form.active {
  display: block;
  -webkit-animation: fadeIn .4s linear;
          animation: fadeIn .4s linear;
}

.header .login-form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.header .login-form .box {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: .1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}

.header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding: 1rem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.header .login-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}

.header .login-form .btn:hover {
  background: #130f40;
}

.header .login-form .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.header .login-form .links a {
  font-size: 1.4rem;
  color: #e67e22;
}

.header .login-form .links a:hover {
  color: #130f40;
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

.home {
  background-color: #345c6d;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(../image/2.2.1-removebg\ \(3\).png) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /*345c6d,307379,518288,518288,EBE2DD, extra: 3fe1ef,fba208,ecc37b*/
}

.home .content {
  width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #3fe1ef;
  padding-bottom: 1rem;
}

.home .content h3 span {
  color: #fba208;
}

.home .content .btn {
  color: #fff;
  border-color: #151313;
}

.home .content .btn:hover {
  color: #130f40;
}

.home .content .btn::before {
  background: #fff;
}

.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content h3 {
  color: #130f40;
  font-size: 4rem;
}

.about .content h3 span {
  color: #e67e22;
}

.about .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.dog-food,
.cat-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.dog-food .image,
.cat-food .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.dog-food .image img,
.cat-food .image img {
  width: 100%;
}

.dog-food .content,
.cat-food .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
  padding: 2rem;
}

.dog-food .content h3,
.cat-food .content h3 {
  font-size: 3.5rem;
  color: #130f40;
}

.dog-food .content h3 span,
.cat-food .content h3 span {
  color: #e67e22;
}

.dog-food .content p,
.cat-food .content p {
  padding: 1rem 0;
  line-height: 2;
  color: #666;
  font-size: 1.6rem;
}

.dog-food .content .amount,
.cat-food .content .amount {
  font-size: 3.5rem;
  color: #130f40;
  padding: .5rem 0;
}

.dog-food .content a img,
.cat-food .content a img {
  height: 15rem;
  margin-top: 1rem;
}

.dog-food .content a:hover img,
.cat-food .content a:hover img {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.cat-food {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.shop .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.shop .box-container .box {
  position: relative;
  overflow: hidden;
}

.shop .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .box-container .box:hover .icons {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.shop .box-container .box .image {
  height: 45rem;
  width: 100%;
  overflow: hidden;
}

.shop .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.shop .box-container .box .icons a {
  display: block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.2rem;
  margin-top: 1rem;
  background: #fff;
  color: #130f40;
  text-align: center;
}

.shop .box-container .box .icons a:hover {
  color: #fff;
  background: #e67e22;
}

.shop .box-container .box .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .box-container .box .content h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding-bottom: .5rem;
}

.shop .box-container .box .content .amount {
  font-size: 2rem;
  color: #e67e22;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #eee;
  padding: 3rem;
  text-align: center;
  border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
}

.services .box-container .box:nth-child(even) {
  border-radius: 79% 21% 81% 19% / 58% 93% 7% 42%;
}

.services .box-container .box:hover {
  border-radius: .5rem;
}

.services .box-container .box i {
  height: 6.5rem;
  width: 6.5rem;
  line-height: 6.5rem;
  font-size: 3rem;
  color: #fff;
  background: #e67e22;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.services .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.plan .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.plan .box-container .box {
  position: relative;
  padding: 2rem;
  border-radius: .5rem;
  position: relative;
  margin-bottom: 2rem;
  background: #eee;
}

.plan .box-container .box .btn {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
  background: #fff;
}

.plan .box-container .box .title {
  text-align: center;
  color: #e67e22;
  font-size: 2rem;
}

.plan .box-container .box .day {
  text-align: center;
  color: #130f40;
  font-size: 3.5rem;
}

.plan .box-container .box .icon {
  color: #e67e22;
  font-size: 5rem;
  padding: 2rem 0;
}

.plan .box-container .box .list {
  margin: 1rem 0;
}

.plan .box-container .box .list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.plan .box-container .box .list p span {
  color: #e67e22;
}

.plan .box-container .box .amount {
  font-size: 5rem;
  font-weight: bolder;
  color: #130f40;
}

.plan .box-container .box .amount span {
  font-size: 3rem;
}

.contact {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.contact .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .image img {
  width: 100%;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 2rem 7%;
}

.contact form .btn {
  width: 100%;
  text-align: center;
}

.contact form .btn:hover {
  background: #130f40;
}

.contact form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #130f40;
}

.contact form .box, .contact form textarea {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: .1rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
  padding: 1.5rem 0;
  margin: 1rem 0;
}

.contact form textarea {
  height: 15rem;
  resize: none;
}

.footer {
  position: relative;
  background: url(../image/footer_background.jpg) no-repeat;
  background-position: center;
  background-size: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.footer img {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
}

.footer .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .share a {
  color: #fff;
  border-color: #fff;
}

.footer .share a:hover {
  color: #130f40;
}

.footer .share a::before {
  background: #fff;
}

.footer .share a i {
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-top: 2.5rem;
}

.footer .credit span {
  color: #e67e22;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 5rem 2rem;
  }
  .home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right;
  }
  .home .content {
    text-align: center;
    padding-bottom: 5rem;
  }
  .home .content h3 {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header .login-form {
    width: 90%;
  }
}
 
.page-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, #2a1f30 50%, #383d44 50%);
}

/* ====================================
Home Slider
==================================== */

#home-slider {
  height: 80vh;
  width: 90vw;
  position: relative;

}
.swiper-container {
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.swiper-image-one {
  background-image: url(/petshop/image/1.jpg);
}

.swiper-image-two {
  background-image: url(/petshop/image/1.1.jpg);
}

.swiper-image-three {
  background-image: url(/petshop/image/bruno\ \ gma\ colores.jpg);
}

.swiper-image-four {
  background-image: url(/petshop/image/bruno\ \ gma\ colores.jpg);
}

.swiper-image-five {
  background-image: url(/petshop/image/2.2.jpg);
}

.swiper-image-six {
  background-image: url(/petshop/image/2.jpg);
}

.swiper-image {
  width: 50%;
  height: 100%;
  
}

.swiper-image-inner {
  
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-blend-mode: overlay;
}
.swiper-image-inner.swiper-image-left {
  padding: 4rem;

}
.swiper-image-left {
  filter: grayscale(100%);
  transition: all 1s linear;
  transition-delay: 1s;

  
}
.swiper-slide.swiper-slide-active .swiper-image-left {
   background-color: hsla(180, 59%, 54%, 0.205);
   filter: grayscale(10%);
 
}
.swiper-image-inner.swiper-image-right {
  filter: hue-rotate(-90deg);
  transition: all 1s linear;
  transition-delay: 1s;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: normal;
}
h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  color: #181515;
  align-self: flex-start;
  margin: 0 0 auto 0;
  font-size: 8.5rem;
  line-height: 1;
  transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.1s;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
h1 span.emphasis {
  font-weight: 700;
  font-style: italic;
  opacity: 0;
  transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
  transform: translate3d(-20%, 0, 0);
  display: inline-block;
  color: #f3eeee;
}
h1 span:not(.emphasis) {
  font-size: 8.5rem;
  text-shadow: 2px 2px 4px rgb(249, 249, 252);
}
h1 + p {
  font-family: 'Cormorand SC';
  font-size: 36px;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1;
  margin-bottom: auto;
  align-self: flex-end;
  text-transform: uppercase;
  transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
  font-weight: 500;
  color: #000000;
  padding-right: 8rem;
  text-shadow: 2px 2px 4px rgb(192, 193, 221);
}
p.paragraph {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  color: #070230;
  width: 100%;
  max-width: 350px;
  text-align: justify;
  font-size: 2rem;
  font-weight: 500;
  opacity: 0;
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
  transform: translate3d(-20%, 0, 0);
}
.glass-effect {
  background: rgba(255, 255, 255, 0.2); /* Define un fondo semitransparente */
  backdrop-filter: blur(10px); /* Aplica un desenfoque al fondo */
  border-radius: 10px; /* Opcional: añade bordes redondeados */
  padding: 20px; /* Opcional: añade espacio interno al contenedor */
}
.swiper-slide.swiper-slide-active .swiper-image-right {
  filter: hue-rotate(90deg);/*cone ste se queda estatico el cambio de el color sepia o decolocaro*/
}

.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active p.paragraph,
.swiper-slide.swiper-slide-active h1 span.emphasis,
.swiper-slide.swiper-slide-active h1 + p {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 3.9rem;
  }
  h1 span:not(.emphasis) {
    font-size: 2.9rem;
  }
  h1 + p {
    font-size: 13px;
  }
  p.paragraph {
    font-size: 1rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 3.5rem;
  }
  h1 span:not(.emphasis) {
    font-size: 2.5rem;
  }
  p.paragraph {
    max-width: 90%;
  }
}
@media screen and (max-width: 640px) {
  #home-slider{
    height: 86vh;
    width: 96vw;
  }
  h1 {
    font-size: 3.2rem;
    align-self: center;
  }
  h1 span:not(.emphasis) {
    font-size: 2.1rem;
  }
  p.paragraph {
    max-width: 94%;
  }
}

/* Swiper css file. Only thing changed down here is the pagination styling */
/**
 * Swiper 3.4.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: December 13, 2016
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #0ff0bf;
  overflow: hidden;
  display: flex;
  
}
/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: #fff;
  opacity: 0.4;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 15px;
  bottom: 15px;
}
.swiper-container-vertical
  > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(
    right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Cube + Flip */
.swiper-container-cube, .swiper-container-flip {
  overflow: visible;
}
.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
